<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Ryan Clarke</title>
</head>
<body>
    <h1>About Ryan Clarke</h1>

    <!-- Provide output of work experience -->
    <h2>Work Experience</h2>
    <p> I've had a wide variety of work experiences such as working at an investment management firm,
        a sports betting startup, and in the accounting departments of both private and public companies.
    </p>

    <!-- Provide output of education history -->
    <h2>Education History</h2>
    <p> I graduated from <em>Chaminade High School</em> in Mineola, New York in 2020. Since then, I have been
        pursuing a bachelor's degree from the <em>University of Maryland, College Park</em> as a double major in
        <strong>finance</strong> and <strong>information systems</strong>.
    </p>

    <h2>Skills</h2>
    <ul>
        <li>Python</li>
        <li>Excel</li>
        <li>SQL</li>
        <li>Financial Modeling</li>
    </ul>

    <h2>City Preferences</h2>
    <ol>
        <li>New York</li>
        <li>Washington, D.C.</li>
        <li>Baltimore</li>
    </ol>

    <!-- Show a table of some notable courses -->
    <h2>Highlighted Course History</h2>
    <table>
        <tr>
            <th>Course</th>
            <th>Semester</th>
        </tr>
        <tr>
            <td>BMGT402</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>BMGT301</td>
            <td>Fall 2021</td>
        </tr>
        <tr>
            <td>BMGT110F</td>
            <td>Fall 2020</td>
        </tr>
    </table>

    <!-- Provide link to my first html project! -->
    <h2>Notable Project</h2>
        <p>A link to my first html project:
        <a href="/hello">First Project</a>.
        </p>

    <h2>Favorite Websites</h2>
        <p>ESPN is one of my favorite websites: <a href="https://www.espn.com/">ESPN</a>.</p>
        <p>NYT Connections is another one of my favorite websites:
            <a href="https://www.nytimes.com/games/connections" target="_blank">NYT Connections</a>.</p>

    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="267" height="72" alt="Smith Logo">



</body>
</html>