{% extends "base.html" %}

{% block page_title %}
    Training
{% endblock %}

{% block page_head %}
    Training
{% endblock %}

{% block page_content %}
    <div class="row justify-content-center">
        <div class="col-md-10 mt-5">
            <div class="card-body">
                <h4 class="card-text">
                    Welcome to your training for the TerpSys Student Information System.
                    Training materials are currently under construction, but will be created very soon.
                    Please check back soon or email Ryan Clarke at <a href="mailto:rclarke5@umd.edu">rclarke5@umd.edu</a>
                    if you wish to be placed on the waiting list.</h4>
            </div>
        </div>
    </div>


{% endblock %}